<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pruebaGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA072FCC1C0F9F3200895DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA072FE21C0F9F3200895DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA072FED1C0F9F3200895DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
